* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
}

.colorTransition {
    color: black !important;
    transition: color 0.3s;
}

.colorTransition:hover {
    color: rgb(161, 197, 255) !important;
    cursor: pointer;
}

/* _________________________________/dashboard/details______________________________________________ */

.dashboard-details {
    border-radius: 15px;
}

.dashboard-details .card-title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.dashboard-details hr {
    width: 100%;
    height: 2px;
}

.dashboard-details .card-text {
    font-size: 18px;
}

.volatility-positive {
    display: inline-block;
    color: rgb(0, 160, 0);
}

.volatility-negative {
    margin-bottom: 0;
    display: inline-block;
    color: rgb(204, 11, 11);
}

.volatility-nochange {
    display: inline-block;
    color: rgb(82, 82, 82);
}

.dashboard-details .walletEdit {
    font-size: 25px;
    float: right;
}

/*___________________________________________________________________________________________________*/

/* _________________________________/dashboard/details______________________________________________ */

.dashboard-options {
    margin: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dashboard-options>* {
    font-size: 25px;
}

/* _________________________________________________________________________________________________ */

/* ___________________________________________year__________________________________________________ */

.year {
    min-width: 900px;
}

.year .trade {
    height: 50px;
    border-top: solid 1px rgb(192, 192, 192);
    border-bottom: solid 1px rgb(192, 192, 192);
    display: flex;
    text-align: center;
}

.year .trade .title {
    text-align: left;
    font-weight: bold;
    line-height: 49px;
    margin-left: 20px;
    font-size: 40px;
}

.year .trade .title-by-trade {
    text-align: left;
    font-weight: bold;
    line-height: 49px;
    margin-left: 20px;
    font-size: 20px;
}

.year .trade .type {
    line-height: 49px;
    text-align: right;
}

.year .trade .dayInWeek {
    display: inline-block;
    position: relative;
    bottom: 30px;
    left: 75px;
}

.year .trade .amount {
    margin-bottom: 0;
    line-height: 49px;
}

.year .trade .description {
    position: relative;
    display: none;
    font-size: 25px;
    line-height: 49px;
}

.year .trade .editTrade {
    display: none;
    font-size: 25px;
    line-height: 49px;
}

.year .trade .deleteTrade {
    display: none;
    font-size: 25px;
    line-height: 49px;
}

.year .trade:hover .description {
    display: block;
}

.year .trade:hover .editTrade {
    display: block;
}

.year .trade:hover .deleteTrade {
    display: block;
}

/* edit trade button */

.container-radio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.container-radio .list {
    flex: 0 0 20rem;
    list-style-type: none;
}

.container-radio .list__item {
    position: relative;
}

.container-radio .list__item:hover>.label {
    color: rgb(76, 130, 237);
}

.container-radio .list__item:hover>.label::before {
    border: 3px solid rgb(76, 130, 237);
    margin-right: 2rem;
}

.container-radio .radio-btn {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.container-radio .radio-btn:checked+.label {
    color: rgb(76, 130, 237);
}

.container-radio .radio-btn:checked+.label::before {
    margin-right: 2rem;
    border: 9px solid rgb(76, 130, 237);
}

.container-radio .label {
    display: flex;
    align-items: center;
    padding: 0.75rem 0;
    color: black;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.25s linear;
}

.container-radio .label::before {
    display: inline-block;
    content: "";
    height: 1.125rem;
    width: 1.125rem;
    margin-right: 0.625rem;
    border: 2px solid black;
    border-radius: 50%;
    transition: all 0.25s linear;
}

/* _________________ */

.input-date {
    margin-left: 50px;
}

.year .trade .description-icon:hover {
    cursor: pointer;
}

/* _________________________________________________________________________________________________ */